.confirm-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.confirm-bg {
    max-width: 30%;
    min-width:30%;
    background-color: rgb(230, 21, 21);
    border: 4px solid black;
    border-radius: 24px;
    display: flex;
    gap: 48px;
    flex-direction: column;
    padding: 24px;
    align-items: center;
    text-align: right;
    justify-content: space-between;
}

.confirm-bg .title {
    width:90%;
    font-size: 24px;
    direction: rtl;
}

.confirm-bg .buttons {
    width:90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.confirm-bg .buttons button {
    padding: 12px;
    min-width: 70px;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
}

.confirm-bg .buttons button:hover {
    background-color: rgb(201, 135, 119);
}

/* ************** MOBILE ********************************* */

@media (max-width: 768px) {
    .confirm-bg {
        max-width: 70%;
    }
}
