.events-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.events-bg {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    opacity: 0.6;
    background-color: black;
}

.events-wrapper .events {
    width: 50%;
    height: 55%;
    background-color: rgb(187, 112, 41);
    border: 4px solid white;
    border-radius: 12px;
    z-index: 1;
    display:flex;
    flex-direction: column;
}

.events .close {
    margin: 0 4px;
    padding: 4px;
    display:flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bolder;
    color:black;
}

.events .close span {
    cursor: pointer;
}

.events .close span:hover {
    transform: scale(1.2);
}

.events .title {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}

.events-table {
    height: 50%;
    direction: rtl;
    margin: 12px;
    padding: 12px;
    font-size: 24px;
    color: black;
    border: 4px solid black;
    border-radius: 8px;
    background-color: rgb(224, 174, 109);
    overflow-x: hidden;
    overflow-y: auto;
}

.events-table table .description {
    padding-right: 12px;
    user-select: none;
    text-align: right;
    white-space: nowrap;
}

.events-table table .delete {
    cursor: pointer
}

.add-event {
    direction: rtl;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 12px;
    border: 4px solid black;
    margin: 12px;
    border-radius: 12px;
    background-color: saddlebrown;
}

.add-event .description {
    width: 100%;
    display:flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px 0 12px;
    box-sizing: border-box;
}

.add-event input, .add-event button {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

.add-event input {
    width: 80%;
    border-radius: 8px;
}

.add-event button {
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(211, 183, 147);
}

.add-event button:hover {
    background-color: rgb(231, 107, 6);
}

.add-event .options {
    display: flex;
    flex-direction: row;
}

.add-event .options label {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    margin-right: 12px;
    margin-left: 24px;
    padding: 4px;
    font-size: 20px;
}

.event-type {
    display: flex;
    padding-right: 12px;
}

.type-letter {
    height:100%;
    width:50%;
    font-size: 14px;
    padding: 0px 4px;
    border: 2px solid black;
}

.type-letter.select {
    background-color: white;
    font-weight: bold;
}

.event-dates {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.event-date {
    display: flex;
    gap: 12px;
    margin: 12px;
}

.event-date select {
    font-size: 20px;
    border-radius: 12px;
    padding: 4px;
}

/* ************** MOBILE ********************************* */

@media (max-width: 768px) {   
    .events-wrapper .events {
        width: 90%;
        height:90%;
    }

    .events-table table .description {    
        font-size: 14px;
    }

    .add-event input {
        width: 70%;
    }

    .add-event .options label {
        font-size: 14px;
        margin:4px;
    }

    .events-table {
        font-size: 20px;
    }

    .event-date select {
        font-size: 14px;
    }

    .event-date {
        gap: 4px;
    }
}

