.navbar {
    height: 70px;
    background-color: rgb(134, 116, 76);
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
}

.navbar .half-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: 12px;
}

.navbar .img-div {
    display: flex;
}

.navbar img {
    width: 50px;
}

.navbar .title {
    font-size: 32px;
    font-weight: bolder;
    margin-left: 24px;
}

.navbar .menu {
    font-size: 24px;
}

.navbar .menu .menu-img {
    position: relative;
    display: flex;
    flex-direction: column;
}

.navbar .menu .menu-img .menu-options {
    position: absolute;
    top: 110%;
    right:0;
    width:180px;
}

.navbar .menu .menu-img .menu-options .menu-item {
    background-color: rgb(211, 137, 94);
    padding: 4px;
    border: 2px solid black;
    border-radius: 12px;
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

/* ************** MOBILE ********************************* */

@media (max-width: 768px) {
    .navbar .menu {
        /* display:none; */
    }

    .navbar .title {
        font-size:24px;
    }
}
