.yearly-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:90%;
    margin:0 auto;
}

.yearly-bg {
    width:70%;
    height:90%;
    background-color: rgb(67, 21, 82);
    border: 4px solid black;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 12px;
}

.yearly-bg .close {
    font-size: 24px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.yearly-bg .close:hover {
    transform: scale(1.2);
}

.yearly-bg .title {
    font-size: 24px;
    font-weight: bold;
    margin-top:24px;
}

.yearly-bg .events {
    width: 90%;
    max-width: 80%;
    min-height: 80%;
    max-height: 80%;
    overflow-y: auto;
    background-color: rgb(145, 119, 148);
    border: 4px solid black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 12px;
    box-sizing: border-box;
    font-size: 20px;
}

.yearly-bg .events .month-events {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 12px;
}

.yearly-bg .events .month-name {
    min-width: 100px;
    font-weight: bold;
    border: 2px solid black;
    background-color: rgb(142, 67, 172);
    border-radius: 8px;;
    padding: 8px;
    direction: rtl;
}

.yearly-bg .events .event-desc {
    display: flex;
    direction: rtl;
    gap: 12px;
    color: black;
    font-weight: bold;
    user-select: none;
    text-align: right;
}

.yearly-bg .print .fa {
    font-size: 36px;
    border-radius: 8px;
    margin: 8px;
    cursor: pointer;
    padding:4px;
}

.yearly-bg .print .fa:hover {
    transform: scale(1.2);
}

/* ************** MOBILE ********************************* */

@media (max-width: 768px) {
    .yearly-bg .events .event-desc {
        gap: 2px;
    }
}
